.movie__Card{
  position: relative;
  cursor: pointer;
}

.movie__Card:hover .Tapar{
  opacity: 1;
}

.movie__Card:hover{
  transform: scale(0.95);
}

.Tapar{
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

.movie__selectorIcon{
  font-size: 4rem !important;
}