.YearDetails{
    font-size: 1rem
}

input[type=radio]{
    display: none;
}

.star{
    cursor: pointer;
}

.Genres{
    font-size: 1rem;
    color: #555;
    margin-top: -10px;
    margin-left: 5px;

}

.Genres:hover{
    color: blue;
}