.YearDetails{
    font-size: 1rem
}

input[type=radio]{
    display: none;
}

.star{
    cursor: pointer;
}

.Genres{
    font-size: 1rem;
    color: #555;
    margin-top: -10px;
    margin-left: 5px;

}

.Genres:hover{
    color: blue;
}

.confWidth{
    width: 50%;
}

.confWidhtButton{
    width: 40%;
}

@media only screen and (max-width: 767px) {
    .confWidth {
      width: 100%;
    }

    .confWidhtButton{
        width: 50%;
    }
    
}